<ion-header>
  <ion-toolbar>
    <ion-title>
      Alongamento para postura
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1></h1>
  <ion-img src="https://files.incrivel.club/files/news/part_0/7355/909105-comics-650-32e9147584-1484586243.jpg"> </ion-img>
  <ion-label> Procure repetir 10x </ion-label>
  <h1></h1>
  <ion-img src="https://files.incrivel.club/files/news/part_0/7355/909205-comics2-650-32e9147584-1484586243.jpg"> </ion-img>
  <ion-label> Procure repetir 08x </ion-label>
  <h1></h1>
  <ion-img src="https://files.incrivel.club/files/news/part_0/7355/909305-comics3-650-32e9147584-1484586243.jpg"> </ion-img>
  <ion-label> Procure repetir 05x </ion-label>
  <h1></h1>
  <ion-img src="https://files.incrivel.club/files/news/part_0/7355/909505-comics4-650-32e9147584-1484586243.jpg"> </ion-img>
  <ion-label> Procure repetir 12x </ion-label>
  <h1></h1>
  <ion-img src="https://files.incrivel.club/files/news/part_0/7355/909355-comics5-650-32e9147584-1484586243.jpg"> </ion-img>
  <ion-label> Procure repetir 08x </ion-label>
  <h1></h1>
  <ion-img src="https://files.incrivel.club/files/news/part_0/7355/909455-comics7-650-32e9147584-1484586243.jpg"> </ion-img>
  <ion-label> Procure repetir 08x </ion-label>
  <h1></h1>
  <ion-img src="https://files.incrivel.club/files/news/part_0/7355/909555-comics8-650-32e9147584-1484586243.jpg"> </ion-img>
  <ion-label> Procure repetir 10x </ion-label>
  <h1> </h1>
  <ion-button expand="full" color="danger" href="calendario"> Ir para calendário </ion-button>
  <ion-button expand="full" color="danger" href="sugestoes"> Sugestões</ion-button>
  <ion-button expand="full" color="danger" href="home"> Sair </ion-button>
</ion-content>
